In [1]:
import pandas as pd

In [2]:
# manually edited errors in Excel
# bring edited csv back in
bp_full_df = pd.read_csv('bp_full_df2.csv')
bp_full_df = bp_full_df.drop(columns={'Unnamed: 0'})
bp_full_df

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Sound of Metal,Best Picture,Sound of Metal,2020,0
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Marriage Story,Best Picture,Marriage Story,2020,0
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,The Irishman,Best Picture,The Irishman,2020,0
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Parasite,Best Picture,Parasite,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...","13,680,000.00",1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0
331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,"14,953,846.00",1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0
332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...","39,100,000.00",1962,The Longest Day,Best Picture,The Longest Day,1963,0
333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...","44,824,144.00",1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1
334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...","592,237.00",1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0

In [3]:
# split genre column into multiples
genres = bp_full_df['genre'].str.split(pat =',', expand=True)
genres

             0           1          2
0       Comedy       Drama        War
1        Drama       Music       None
2        Drama     Romance       None
3    Biography       Crime      Drama
4       Comedy       Drama   Thriller
..         ...         ...        ...
330  Adventure       Drama    History
331     Comedy      Family    Musical
332     Action       Drama    History
333  Adventure   Biography      Drama
334      Crime       Drama       None

[335 rows x 3 columns]

In [4]:
genres = genres.rename(columns={0:'genre_1', 1:'genre_2', 2:'genre_3'})
genres

       genre_1     genre_2    genre_3
0       Comedy       Drama        War
1        Drama       Music       None
2        Drama     Romance       None
3    Biography       Crime      Drama
4       Comedy       Drama   Thriller
..         ...         ...        ...
330  Adventure       Drama    History
331     Comedy      Family    Musical
332     Action       Drama    History
333  Adventure   Biography      Drama
334      Crime       Drama       None

[335 rows x 3 columns]

In [5]:
#add genre df to bp_full_df based on index
bp_full_df = pd.concat([bp_full_df, genres], axis=1)
bp_full_df

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Sound of Metal,Best Picture,Sound of Metal,2020,0,Drama,Music,None
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Marriage Story,Best Picture,Marriage Story,2020,0,Drama,Romance,None
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,The Irishman,Best Picture,The Irishman,2020,0,Biography,Crime,Drama
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Parasite,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...","13,680,000.00",1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0,Adventure,Drama,History
331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,"14,953,846.00",1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0,Comedy,Family,Musical
332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...","39,100,000.00",1962,The Longest Day,Best Picture,The Longest Day,1963,0,Action,Drama,History
333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...","44,824,144.00",1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama
334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...","592,237.00",1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0,Crime,Drama,None

In [6]:
#drop unneccessary columns
bp_full_df = bp_full_df.drop(columns={'matches'})

In [7]:
bp_full_df.head()

,title,runtime,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller

In [8]:
#clean runtime, int only
bp_full_df['runtime_min'] = bp_full_df['runtime'].str.extract('(.*)\s')
bp_full_df = bp_full_df.drop(columns={'runtime'})
bp_full_df['runtime_min'] = pd.to_numeric(bp_full_df['runtime_min'])
#verify
bp_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         335 non-null    object
 1   rating        335 non-null    object
 2   genre         335 non-null    object
 3   summary       335 non-null    object
 4   gross         326 non-null    object
 5   release_year  335 non-null    int64
 6   category      335 non-null    object
 7   nominee       335 non-null    object
 8   oscar_year    335 non-null    int64
 9   winner        335 non-null    int64
 10  genre_1       335 non-null    object
 11  genre_2       299 non-null    object
 12  genre_3       202 non-null    object
 13  runtime_min   335 non-null    int64
dtypes: int64(4), object(10)
memory usage: 36.8+ KB

In [9]:
bp_full_df['gross'] = bp_full_df['gross'].str.replace(',', '')
bp_full_df['gross'] = bp_full_df['gross'].str.replace('\.00', '')
bp_full_df

C:\Users\zoete\AppData\Local\Temp\ipykernel_19000\2626593479.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  bp_full_df['gross'] = bp_full_df['gross'].str.replace('\.00', '')

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War,108
1,Sound of Metal,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None,120
2,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None,137
3,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama,209
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Best Picture,Mutiny on the Bounty,1963,0,Adventure,Drama,History,178
331,The Music Man,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Best Picture,Meredith Willson's The Music Man,1963,0,Comedy,Family,Musical,151
332,The Longest Day,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,Best Picture,The Longest Day,1963,0,Action,Drama,History,178
333,Lawrence of Arabia,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama,218
334,To Kill a Mockingbird,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,Best Picture,To Kill a Mockingbird,1963,0,Crime,Drama,None,129

In [15]:
bp_full_df['gross'] = bp_full_df['gross'].astype('Int32')
bp_full_df

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War,108
1,Sound of Metal,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None,120
2,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None,137
3,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama,209
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Best Picture,Mutiny on the Bounty,1963,0,Adventure,Drama,History,178
331,The Music Man,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Best Picture,Meredith Willson's The Music Man,1963,0,Comedy,Family,Musical,151
332,The Longest Day,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,Best Picture,The Longest Day,1963,0,Action,Drama,History,178
333,Lawrence of Arabia,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama,218
334,To Kill a Mockingbird,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,Best Picture,To Kill a Mockingbird,1963,0,Crime,Drama,None,129

In [16]:
#save new df as csv to import to SQL
bp_full_df.to_csv('bp_clean.csv', index=False)

In [17]:
#is none reading as a string or null?
bp_full_df['genre_3'].value_counts()
#no...phew

 Drama       37
 Romance     35
 History     32
 Thriller    26
 War         15
 Music        9
 Fantasy      8
 Musical      8
 Sci-Fi       7
 Mystery      6
 Sport        6
 Crime        5
 Family       5
 Comedy       2
 Western      1
Name: genre_3, dtype: int64

In [18]:
#What's the most frequent primary genre? Drama
bp_full_df['genre_1'].value_counts()

Drama        114
Biography     75
Comedy        58
Action        29
Crime         29
Adventure     23
Animation      3
Horror         2
Sci-Fi         1
Western        1
Name: genre_1, dtype: int64

In [19]:
bp_full_df['genre_2'].value_counts()

 Drama        149
 Romance       36
 Adventure     17
 Crime         16
 Comedy        14
 Mystery        9
 Family         9
 Thriller       8
 Biography      7
 Music          7
 History        7
 Fantasy        6
 War            5
 Western        3
 Musical        2
 Sci-Fi         2
 Sport          2
Name: genre_2, dtype: int64

In [21]:
winners = bp_full_df.query('winner == 1')

In [22]:
winners

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132
14,Green Book,PG-13,"Biography, Comedy, Drama",A working-class Italian-American bouncer becom...,85080171,2018,Best Picture,Green Book,2019,1,Biography,Comedy,Drama,130
23,The Shape of Water,R,"Drama, Fantasy, Romance",At a top secret research facility in the 1960s...,63859435,2017,Best Picture,The Shape of Water,2018,1,Drama,Fantasy,Romance,123
28,Moonlight,R,Drama,A young African-American man grapples with his...,27854932,2016,Best Picture,Moonlight,2017,1,Drama,None,None,111
38,Spotlight,R,"Biography, Crime, Drama",The true story of how the Boston Globe uncover...,45055776,2015,Best Picture,Spotlight,2016,1,Biography,Crime,Drama,129
47,Birdman or,R,"Comedy, Drama",A washed-up superhero actor attempts to revive...,42340598,2014,Best Picture,Birdman or (The Unexpected Virtue of Ignorance),2015,1,Comedy,Drama,None,119
56,12 Years a Slave,R,"Biography, Drama, History","In the antebellum United States, Solomon North...",56671993,2013,Best Picture,12 Years a Slave,2014,1,Biography,Drama,History,134
66,Argo,R,"Biography, Drama, Thriller",Acting under the cover of a Hollywood producer...,136025503,2012,Best Picture,Argo,2013,1,Biography,Drama,Thriller,120
72,The Artist,PG-13,"Comedy, Drama, Romance",An egomaniacal film star develops a relationsh...,44671682,2011,Best Picture,The Artist,2012,1,Comedy,Drama,Romance,100
85,The King's Speech,R,"Biography, Drama, History","The story of King George VI, his impromptu asc...",138797449,2010,Best Picture,The King's Speech,2011,1,Biography,Drama,History,118
91,The Hurt Locker,R,"Drama, Thriller, War","During the Iraq War, a Sergeant recently assig...",17017811,2008,Best Picture,The Hurt Locker,2010,1,Drama,Thriller,War,131
103,Slumdog Millionaire,R,"Crime, Drama, Romance",A Mumbai teenager reflects on his life after b...,141319928,2008,Best Picture,Slumdog Millionaire,2009,1,Crime,Drama,Romance,120
107,No Country for Old Men,R,"Crime, Drama, Thriller",Violence and mayhem ensue after a hunter stumb...,74283625,2007,Best Picture,No Country for Old Men,2008,1,Crime,Drama,Thriller,122
113,The Departed,R,"Crime, Drama, Thriller",An undercover cop and a mole in the police att...,132384315,2006,Best Picture,The Departed,2007,1,Crime,Drama,Thriller,151
117,Crash,R,"Crime, Drama, Thriller",Los Angeles citizens with vastly separate live...,54580300,2004,Best Picture,Crash,2006,1,Crime,Drama,Thriller,112
122,Million Dollar Baby,PG-13,"Drama, Sport",A determined woman works with a hardened boxin...,100492203,2004,Best Picture,Million Dollar Baby,2005,1,Drama,Sport,None,132
128,The Lord of the Rings: The Return of the King,PG-13,"Action, Adventure, Drama",Gandalf and Aragorn lead the World of Men agai...,377845905,2003,Best Picture,The Lord of the Rings: The Return of the King,2004,1,Action,Adventure,Drama,201
132,Chicago,PG-13,"Comedy, Crime, Musical",Two death-row murderesses develop a fierce riv...,170687518,2002,Best Picture,Chicago,2003,1,Comedy,Crime,Musical,113
137,A Beautiful Mind,PG-13,"Biography, Drama","After John Nash, a brilliant but asocial mathe...",170742341,2001,Best Picture,A Beautiful Mind,2002,1,Biography,Drama,None,135
143,Gladiator,R,"Action, Adventure, Drama",A former Roman General sets out to exact venge...,187705427,2000,Best Picture,Gladiator,2001,1,Action,Adventure,Drama,155
146,American Beauty,R,Drama,A sexually frustrated suburban father has a mi...,130096601,1999,Best Picture,American Beauty,2000,1,Drama,None,None,122
152,Shakespeare in Love,R,"Comedy, Drama, History","The world's greatest ever playwright, William ...",100317794,1998,Best Picture,Shakespeare in Love,1999,1,Comedy,Drama,History,123
158,Titanic,PG-13,"Drama, Romance",A seventeen-year-old aristocrat falls in love ...,659325379,1997,Best Picture,Titanic,1998,1,Drama,Romance,None,194
162,The English Patient,R,"Drama, Romance, War","At the close of World War II, a young nurse te...",78651430,1996,Best Picture,The English Patient,1997,1,Drama,Romance,War,162
167,Braveheart,R,"Biography, Drama, History",Scottish warrior William Wallace leads his cou...,75600000,1995,Best Picture,Braveheart,1996,1,Biography,Drama,History,178
173,Forrest Gump,PG-13,"Drama, Romance","The presidencies of Kennedy and Johnson, the V...",330252182,1994,Best Picture,Forrest Gump,1995,1,Drama,Romance,None,142
177,Schindler's List,R,"Biography, Drama, History","In German-occupied Poland during World War II,...",96898818,1993,Best Picture,Schindler's List,1994,1,Biography,Drama,History,195
182,Unforgiven,R,"Drama, Western",Retired Old West gunslinger William Munny relu...,101157447,1992,Best Picture,Unforgiven,1993,1,Drama,Western,None,130
187,The Silence of the Lambs,R,"Crime, Drama, Thriller",A young F.B.I. cadet must receive the help of ...,130742922,1991,Best Picture,The Silence of the Lambs,1992,1,Crime,Drama,Thriller,118
192,Dances with Wolves,PG-13,"Adventure, Drama, Western","Lieutenant John Dunbar, assigned to a remote w...",184208848,1990,Best Picture,Dances With Wolves,1991,1,Adventure,Drama,Western,181
198,Driving Miss Daisy,PG,"Comedy, Drama, Romance",An old Jewish woman and her African-American c...,106593296,1989,Best Picture,Driving Miss Daisy,1990,1,Comedy,Drama,Romance,99
203,Rain Man,R,Drama,After a selfish L.A. yuppie learns his estrang...,178800000,1988,Best Picture,Rain Man,1989,1,Drama,None,None,133
205,The Last Emperor,PG-13,"Biography, Drama, History",The story of the final Emperor of China.,43984230,1987,Best Picture,The Last Emperor,1988,1,Biography,Drama,History,163
213,Platoon,R,"Drama, War","Chris Taylor, a neophyte recruit in Vietnam, f...",138530565,1986,Best Picture,Platoon,1987,1,Drama,War,None,120
217,Out of Africa,PG,"Biography, Drama, Romance","In 20th-century colonial Kenya, a Danish baron...",87100000,1985,Best Picture,Out of Africa,1986,1,Biography,Drama,Romance,161
223,Amadeus,R,"Biography, Drama, Music","The life, success and troubles of Wolfgang Ama...",51973029,1984,Best Picture,Amadeus,1985,1,Biography,Drama,Music,160
228,Terms of Endearment,PG,"Comedy, Drama",Follows hard-to-please Aurora looking for love...,108423489,1983,Best Picture,Terms of Endearment,1984,1,Comedy,Drama,None,132
230,Gandhi,PG,"Biography, Drama",The life of the lawyer who became the famed le...,52767889,1982,Best Picture,Gandhi,1983,1,Biography,Drama,None,191
236,Chariots of Fire,PG,"Biography, Drama, Sport","Two British track athletes, one a determined J...",58972904,1981,Best Picture,Chariots of Fire,1982,1,Biography,Drama,Sport,125
240,Ordinary People,R,Drama,The accidental death of the older son of an af...,54800000,1980,Best Picture,Ordinary People,1981,1,Drama,None,None,124
248,Kramer vs. Kramer,PG,Drama,"After his wife leaves him, a work-obsessed Man...",106260000,1979,Best Picture,Kramer vs. Kramer,1980,1,Drama,None,None,105
252,The Deer Hunter,R,"Drama, War",An in-depth examination of the ways in which t...,48979328,1978,Best Picture,The Deer Hunter,1979,1,Drama,War,None,183
255,Annie Hall,PG,"Comedy, Romance","Alvy Singer, a divorced Jewish comedian, refle...",39200000,1977,Best Picture,Annie Hall,1978,1,Comedy,Romance,None,93
261,Rocky,PG,"Drama, Sport",A small-time Philadelphia boxer gets a supreme...,117235247,1976,Best Picture,Rocky,1977,1,Drama,Sport,None,120
266,One Flew Over the Cuckoo's Nest,R,Drama,A criminal pleads insanity and is admitted to ...,112000000,1975,Best Picture,One Flew over the Cuckoo's Nest,1976,1,Drama,None,None,133
272,The Godfather Part II,R,"Crime, Drama",The early life and career of Vito Corleone in ...,57300000,1974,Best Picture,The Godfather Part II,1975,1,Crime,Drama,None,202
273,The Godfather Part III,R,"Crime, Drama","Follows Michael Corleone, now in his 60s, as h...",66666062,1990,Best Picture,The Godfather Part II,1975,1,Crime,Drama,None,162
278,The Sting,PG,"Comedy, Crime, Drama",Two grifters team up to pull off the ultimate ...,159600000,1973,Best Picture,The Sting,1974,1,Comedy,Crime,Drama,129
284,The Godfather,R,"Crime, Drama",The aging patriarch of an organized crime dyna...,134966411,1972,Best Picture,The Godfather,1973,1,Crime,Drama,None,175
287,The French Connection,R,"Action, Crime, Drama",A pair of NYPD detectives in the Narcotics Bur...,15630710,1971,Best Picture,The French Connection,1972,1,Action,Crime,Drama,104
291,Patton,GP,"Biography, Drama, War",The World War II phase of the career of contro...,61700000,1970,Best Picture,Patton,1971,1,Biography,Drama,War,172
298,Midnight Cowboy,R,Drama,A naive hustler travels from Texas to New York...,44785053,1969,Best Picture,Midnight Cowboy,1970,1,Drama,None,None,113
300,Oliver!,G,"Drama, Family, Musical","After being sold to a mortician, young orphan ...",16800000,1968,Best Picture,Oliver!,1969,1,Drama,Family,Musical,153
306,In the Heat of the Night,Approved,"Drama, Mystery, Thriller",A black Philadelphia police detective is mista...,24379978,1967,Best Picture,In the Heat of the Night,1968,1,Drama,Mystery,Thriller,110
312,A Man for All Seasons,G,"Biography, Drama, History","The story of Sir Thomas More, who stood up to ...",28350000,1966,Best Picture,A Man for All Seasons,1967,1,Biography,Drama,History,120
317,The Sound of Music,G,"Biography, Drama, Family",A young novitiate is sent by her convent in 19...,163214286,1965,Best Picture,The Sound of Music,1966,1,Biography,Drama,Family,172
321,My Fair Lady,G,"Drama, Family, Musical","In 1910s London, snobbish phonetics professor ...",72000000,1964,Best Picture,My Fair Lady,1965,1,Drama,Family,Musical,170
325,Tom Jones,Not Rated,"Adventure, Comedy, History",The romantic and chivalrous adventures of adop...,37600000,1963,Best Picture,Tom Jones,1964,1,Adventure,Comedy,History,129
333,Lawrence of Arabia,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama,218

In [23]:
#primary genre most won - R
winners['rating'].value_counts()

R            32
PG-13        10
PG            9
G             4
Approved      2
GP            1
Not Rated     1
Name: rating, dtype: int64

In [38]:
#adjusted value = (old value * cpi current)/cpi old
(376000000*258.811167)/30.625000

3177567307.4938774

In [36]:
cpi = pd.read_csv('avg_inflation_by_year.csv')
cpi

    Year     avg_cpi
0   1963   30.625000
1   1964   31.016667
2   1965   31.508333
3   1966   32.458333
4   1967   33.358333
5   1968   34.783333
6   1969   36.683333
7   1970   38.825000
8   1971   40.491667
9   1972   41.816667
10  1973   44.400000
11  1974   49.308333
12  1975   53.816667
13  1976   56.908333
14  1977   60.608333
15  1978   65.233333
16  1979   72.575000
17  1980   82.408333
18  1981   90.925000
19  1982   96.500000
20  1983   99.600000
21  1984  103.883333
22  1985  107.566667
23  1986  109.608333
24  1987  113.625000
25  1988  118.258333
26  1989  123.966667
27  1990  130.658333
28  1991  136.191667
29  1992  140.316667
30  1993  144.458333
31  1994  148.225000
32  1995  152.383333
33  1996  156.850000
34  1997  160.516667
35  1998  163.008333
36  1999  166.575000
37  2000  172.200000
38  2001  177.066667
39  2002  179.875000
40  2003  183.958333
41  2004  188.883333
42  2005  195.291667
43  2006  201.591667
44  2007  207.342417
45  2008  215.302500
46  2009  214.537000
47  2010  218.055500
48  2011  224.939167
49  2012  229.593917
50  2013  232.957083
51  2014  236.736167
52  2015  237.017000
53  2016  240.007167
54  2017  245.119583
55  2018  251.106833
56  2019  255.657417
57  2020  258.811167

In [37]:
normalized = pd.merge(bp_full_df, cpi, left_on= 'oscar_year', right_on ='Year', how='outer')
normalized

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min,Year,avg_cpi
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War,108,2020,258.811167
1,Sound of Metal,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None,120,2020,258.811167
2,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None,137,2020,258.811167
3,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama,209,2020,258.811167
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132,2020,258.811167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Best Picture,Mutiny on the Bounty,1963,0,Adventure,Drama,History,178,1963,30.625000
331,The Music Man,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Best Picture,Meredith Willson's The Music Man,1963,0,Comedy,Family,Musical,151,1963,30.625000
332,The Longest Day,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,Best Picture,The Longest Day,1963,0,Action,Drama,History,178,1963,30.625000
333,Lawrence of Arabia,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama,218,1963,30.625000
334,To Kill a Mockingbird,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,Best Picture,To Kill a Mockingbird,1963,0,Crime,Drama,None,129,1963,30.625000

In [47]:
normalized['cpi_2020'] = 258.811167
normalized.to_csv('normalized.csv')

In [48]:
#used excel to calculate adjusted gross