In [58]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Need to adjust gross revenue to account for inflation over time
## adjusted value = (old value * cpi current)/cpi old

In [2]:
#example: 1963 film Tom Jones adjusted to 2020 prices fr normalized comparison
(376000000*258.811167)/30.625000

3177567307.4938774

In [3]:
#import CPI (Consumer Price Index for "all items" from US Bereau of Labor Statistics)
cpi = pd.read_csv('avg_inflation_by_year.csv')
cpi.head()

   Year    avg_cpi
0  1963  30.625000
1  1964  31.016667
2  1965  31.508333
3  1966  32.458333
4  1967  33.358333

In [4]:
#import df with gross revenue
bp_full_df = pd.read_csv('bp_full_df2.csv')
bp_full_df.drop(columns={'Unnamed: 0'}).head()

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Sound of Metal,Best Picture,Sound of Metal,2020,0
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Marriage Story,Best Picture,Marriage Story,2020,0
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,The Irishman,Best Picture,The Irishman,2020,0
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Parasite,Best Picture,Parasite,2020,1

In [6]:
#gross is object
bp_full_df['gross'] = bp_full_df['gross'].str.replace(",", "").str.replace("(\.00)", "")
bp_full_df.info()

C:\Users\zoete\AppData\Local\Temp\ipykernel_24936\2782338456.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  bp_full_df['gross'] = bp_full_df['gross'].str.replace(",", "").str.replace("(\.00)", "")

,Unnamed: 0,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner
0,0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0
1,1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Sound of Metal,Best Picture,Sound of Metal,2020,0
2,2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Marriage Story,Best Picture,Marriage Story,2020,0
3,3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,The Irishman,Best Picture,The Irishman,2020,0
4,4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Parasite,Best Picture,Parasite,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0
331,331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0
332,332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,The Longest Day,Best Picture,The Longest Day,1963,0
333,333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1
334,334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0

In [18]:
#can it be a float?
bp_full_df['gross'] = bp_full_df['gross'].astype('Int64')
bp_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    335 non-null    int64
 1   title         335 non-null    object
 2   runtime       335 non-null    object
 3   rating        335 non-null    object
 4   genre         335 non-null    object
 5   summary       335 non-null    object
 6   gross         326 non-null    Int64
 7   release_year  335 non-null    int64
 8   matches       335 non-null    object
 9   category      335 non-null    object
 10  nominee       335 non-null    object
 11  oscar_year    335 non-null    int64
 12  winner        335 non-null    int64
dtypes: Int64(1), int64(4), object(8)
memory usage: 34.5+ KB

In [19]:
#join tables on year - Gross revenue is totalled in oscar year (not release year)
normalized = pd.merge(bp_full_df, cpi, left_on= 'oscar_year', right_on ='Year', how='outer')
normalized = normalized.drop(columns={'Unnamed: 0'})
normalized.head()

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0,2020,258.811167
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Sound of Metal,Best Picture,Sound of Metal,2020,0,2020,258.811167
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Marriage Story,Best Picture,Marriage Story,2020,0,2020,258.811167
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,The Irishman,Best Picture,The Irishman,2020,0,2020,258.811167
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Parasite,Best Picture,Parasite,2020,1,2020,258.811167

In [20]:
#give 2020 cpi a column for future loop
normalized['cpi_2020'] = 258.811167
normalized.tail()

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi,cpi_2020
330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0,1963,30.625,258.811167
331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0,1963,30.625,258.811167
332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,The Longest Day,Best Picture,The Longest Day,1963,0,1963,30.625,258.811167
333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1,1963,30.625,258.811167
334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0,1963,30.625,258.811167

In [21]:
#test - success!
(normalized.loc[1, 'gross']*normalized.loc[1, 'cpi_2020'])/normalized.loc[1, 'avg_cpi']

516520.00059872225

In [ ]:
#adjusted value = (old value * cpi current)/cpi old
for row, index in normalized.iterrows():
    if row['gross'] > 1:
        normalized.loc[index, 'adjusted_gross'] = (normalized.loc[index, 'gross']*normalized.loc[index, 'cpi_2020'])/normalized.loc[index, 'avg_cpi']
    else:
        normalized.loc[index, 'adjusted_gross'] = 0

In [37]:
normalized['adjusted_gross'] = round((normalized['gross']*normalized['cpi_2020'])/normalized['avg_cpi'], 0)

In [38]:
normalized

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi,cpi_2020,adjusted_gross
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0,2020,258.811167,258.811167,349555.0
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Sound of Metal,Best Picture,Sound of Metal,2020,0,2020,258.811167,258.811167,516520.0
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Marriage Story,Best Picture,Marriage Story,2020,0,2020,258.811167,258.811167,2000000.0
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,The Irishman,Best Picture,The Irishman,2020,0,2020,258.811167,258.811167,7000000.0
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Parasite,Best Picture,Parasite,2020,1,2020,258.811167,258.811167,53367844.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0,1963,30.625000,258.811167,115609364.0
331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0,1963,30.625000,258.811167,126374607.0
332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,The Longest Day,Best Picture,The Longest Day,1963,0,1963,30.625000,258.811167,330433196.0
333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1,1963,30.625000,258.811167,378807805.0
334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0,1963,30.625000,258.811167,5004981.0

# Now that the gross is adjusted, we can explore aggregations and charts

In [59]:
#avg adjusted gross of all winners = 265 M
print('Average adjusted gross of all winners:', round(normalized.query('winner ==1')['adjusted_gross'].mean(), 2))

Average adjusted gross of all winners: 265578534.39

In [56]:
#avg adjusted gross of all losers = 164 M
print('Average adjusted gross of all losers:', round(normalized.query('winner == 0')['adjusted_gross'].mean(), 2))

Average adjusted gross of all losers: 164082327.1

In [57]:
#avg adjusted gross of all nominees - 182 M
print('Average adjusted gross of all nominees:', round(normalized['adjusted_gross'].mean(), 2))

Average adjusted gross of all nominees: 182451272.6

In [63]:
#same with min
print('Min adjusted gross of all winners:', round(normalized.query('winner==1')['adjusted_gross'].min(), 2))
print('Min adjusted gross of all losers:   ', round(normalized.query('winner == 0')['adjusted_gross'].min(), 2))
print('Min adjusted gross of all nominees: ', round(normalized['adjusted_gross'].min(), 2))

Min adjusted gross of all winners: 20198525.0
Min adjusted gross of all losers:    349555.0
Min adjusted gross of all nominees:  349555.0

In [77]:
#who was that? ^^ Jojo Rabbit
normalized.sort_values('adjusted_gross').head(1)

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi,cpi_2020,adjusted_gross
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0,2020,258.811167,258.811167,349555.0

In [66]:
#same with max
print('Max adjusted gross of all winners: ', round(normalized.query('winner==1')['adjusted_gross'].max(), 2))
print('Max adjusted gross of all losers:  ', round(normalized.query('winner == 0')['adjusted_gross'].max(), 2))
print('Max adjusted gross of all nominees:', round(normalized['adjusted_gross'].max(), 2))

Max adjusted gross of all winners:  1301412472.0
Max adjusted gross of all losers:   1280461200.0
Max adjusted gross of all nominees: 1301412472.0

In [78]:
#who has the highest adjusted gross of all best picture nominees?
normalized.sort_values('adjusted_gross', ascending=False).head(1)

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi,cpi_2020,adjusted_gross
317,The Sound of Music,172 min,G,"Biography, Drama, Family",A young novitiate is sent by her convent in 19...,163214286,1965,The Sound of Music,Best Picture,The Sound of Music,1966,1,1966,32.458333,258.811167,1301412472.0

In [83]:
aggfuncs = ['mad', 'std', 'var']
normalized.groupby('winner')['runtime'].agg(aggfuncs)

ValueError: could not convert string to float: '108 min'

In [41]:
winners = normalized.query('winner==1')
winners.head()

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi,cpi_2020,adjusted_gross
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Parasite,Best Picture,Parasite,2020,1,2020,258.811167,258.811167,53367844.0
14,Green Book,130 min,PG-13,"Biography, Comedy, Drama",A working-class Italian-American bouncer becom...,85080171,2018,Green Book,Best Picture,Green Book,2019,1,2019,255.657417,258.811167,86129707.0
23,The Shape of Water,123 min,R,"Drama, Fantasy, Romance",At a top secret research facility in the 1960s...,63859435,2017,The Shape of Water,Best Picture,The Shape of Water,2018,1,2018,251.106833,258.811167,65818738.0
28,Moonlight,111 min,R,Drama,A young African-American man grapples with his...,27854932,2016,Moonlight,Best Picture,Moonlight,2017,1,2017,245.119583,258.811167,29410818.0
38,Spotlight,129 min,R,"Biography, Crime, Drama",The true story of how the Boston Globe uncover...,45055776,2015,Spotlight,Best Picture,Spotlight,2016,1,2016,240.007167,258.811167,48585791.0

In [42]:
losers = normalized.query('winner==0')
losers.head()

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,Year,avg_cpi,cpi_2020,adjusted_gross
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0,2020,258.811167,258.811167,349555.0
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Sound of Metal,Best Picture,Sound of Metal,2020,0,2020,258.811167,258.811167,516520.0
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Marriage Story,Best Picture,Marriage Story,2020,0,2020,258.811167,258.811167,2000000.0
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,The Irishman,Best Picture,The Irishman,2020,0,2020,258.811167,258.811167,7000000.0
5,Little Women,135 min,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...",108101214,2019,Little Women,Best Picture,Little Women,2020,0,2020,258.811167,258.811167,108101214.0

In [45]:
#save for later
winners.to_csv('winners_adjusted.csv', index=False)

In [46]:
#save for later
losers.to_csv('losers_adjusted.csv', index=False)